@use 'variables' as v; 
@use 'mixins' as m; 

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$font;
    font-size: 1.6rem;
    color: v.$grayishBlue;
    overflow-x: hidden;

    &[data-scroll="false"] {
        overflow: hidden;

        @include m.tablet { 
            overflow-x: hidden;
        }
    }

    @include m.tablet-xl { 
        font-size: 1.8rem;
    }
}

p {
    line-height: 1.7;
    margin: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;

    &--p {
        padding: 3rem;
    }
}

a {
    text-decoration: none;
    color: v.$grayishBlue;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3 {
    margin: 0 0 2rem  0;
    font-family: v.$font;
    color: v.$veryDarkBlue;
    line-height: 1.5;

}
h1 {
    font-size: 3.2rem;

    @include m.tablet-xl { 
        font-size: 4.5rem;
    }
}

h2 {
    font-size: 2.6rem;

    @include m.tablet-xl { 
        font-size: 3.2rem;
    }
}


h3 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    background-color: transparent;
    border: 0;
    
    &:hover {
        cursor: pointer;
    }
}