@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
// Fuentes
$font: 'Rubik', sans-serif;

// Tamaño de Media Queries
$telefono: 576px;
$tablet: 768px;
$tabletXl: 992px;
$desktop: 1200px;
$desktopXl: 1400px;

// Colores
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);
$white: #fff;
$black: #000;
